.mainWrapper{
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
}

.requireEmail{
    margin-bottom: 10px;
}

.submit{
    margin: 10px 0;
}

.error{
    color: red;
}