.taskPreview{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
}

.taskPreview:hover{
    background-color: rgb(186, 186, 190);
}

.important{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
}

.important img{
    max-width: 15px;
}

.taskTheme{
    font-weight: bold;
    font-size: 15pt;
}

.respondents{
    display: flex;
}

.respondentsInfo{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}